#pages-nav { width: 200px; }

#pages-nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

#pages-nav:hover a {
    opacity: 1.0;
}

#pages-nav:hover ul:hover a {
    opacity: 0.5;
}

#pages-nav:hover ul:hover a:hover {
    opacity: 1;
}

#pages-nav:active a {
    opacity: 1.0;
}

#pages-nav:active ul:active a {
    opacity: 0.5;
}

#pages-nav:active ul:active a:active {
    opacity: 0.9;
}
